In [1]:
import pandas as pd

In [2]:
# Import the file "W03_eCommerce.csv" as pandas Dataframe. Call it df
df = pd.read_csv("W03_eCommerce.csv")
df.head()

       Date       SKU  click  add_cart  add_favorites  sales
0  20190728  VF256715      7         0              0      0
1  20190728  VF224834     28         0              0      0
2  20190728  PJ955955     22         1              0      0
3  20190728  SN639704     17         0              0      0
4  20190728  VF237717      2         0              0      0

In [3]:
# How many rows does the dataset have? Store this number as r1
r1 = df.shape[0]
r1

275265

In [4]:
# How often does SKU "NH430971" appear in the data? Store this as r2  
r2= df['SKU'].value_counts()["NH430971"]
print(r2)

28

In [5]:
# What is the highest sales number for one SKU on a single day in the data set? Store this as r3
maxValues= df.max()
r3=df.loc[df['sales'] == 319]
r3= r3.iloc[0, -1]
#print(maxValues)
print(r3, "The SKU -TR332356- had the most sales on the 26.06.2019 with 319 sales")

319 The SKU -TR332356- had the most sales on the 26.06.2019 with 319 sales

In [6]:
# What is the total number of sales on July 25th, 2019? Store this as r4
df4= df[df["Date"]==20190725]
count=0

for i in df4["sales"]:
    count=i+count
    
r4=count
r4

5749

In [7]:
# How many clicks did SKU "KW529031" have in total in the given period. Store this as r5
df5=df[df["SKU"]=="KW529031"]
r5= df5["click"].sum()
r5

2106

In [8]:
# Calculate the total number of addings to cart for "KW529031" in the given period.
# Divide this number by r5. We call this click-to-cart-conversion. Store this as r6 (number between 0 and 1)

df6=df[df["SKU"]=="KW529031"]
count=0
for i in df6["add_cart"]:
    count=i+count
count
r6=count/r5
r6

0.08262108262108261

In [9]:
# Store the cart-to-sales-conversion (i.e. sales/add_cart) for SKU "VF226119" as r7
d3 = df[df['SKU']=="VF226119"]
r7 = d3['sales'].sum()/d3['add_cart'].sum()
r7

0.24722991689750692

In [10]:
# Which item had the highest sales number on June 25th, 2019? Store the ID of the SKU as r8 (not the sales value)
d4 = df[df['Date']==20190625]
d4_1 = d4[d4['sales'] == d4['sales'].max()]
r8 = d4_1.iloc[0, 1]
r8

'TR332356'

In [11]:
# Create a new column for 'click-to-sales-conversion' (i.e. sales / click )
# Only look at rows with at least 100 clicks.
# Among those: What is the highest click-sales-ratio on a single day for a single item?
# Store this number as r9  

df2 = df.copy()
df2['click-to-sales-conversion'] = df2['sales'] / df2['click']
df2 = df2[df2['click']>100]
#print(df2.head())
df2.sort_values('click-to-sales-conversion', ascending=False, inplace=True)
df2.reset_index(inplace=True)
#print(df2.head())
r9 = df2['click-to-sales-conversion'][0]
r9

0.11538461538461539

In [12]:
# How many unique SKUs are included in the dataset? Store this number as r10   
r10 = len(df['SKU'].unique())
r10

7382