In [6]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso 
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score

In [7]:
#Import the training set "W05_train.txt“ and test set "W05_test.txt"

df_train = pd.read_csv('W05_train.txt', sep="\t")
df_test = pd.read_csv('W05_test.txt', sep="\t")

df_train

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,relative_humidity_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_3pm
0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,42.420000,0.00,0.0,36.160000
1,917.347688,71.403843,101.935179,2.443009,140.471549,3.533324,24.328697,0.00,0.0,19.426597
2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,8.900000,0.00,20.0,14.460000
3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,12.189102,0.00,0.0,12.742547
4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,92.410000,8.90,14730.0,76.740000
...,...,...,...,...,...,...,...,...,...,...
95,921.874478,68.093848,70.908654,2.146586,96.095304,2.891295,12.479445,0.00,0.0,19.579915
96,921.540000,43.160000,52.500000,23.554978,68.000000,29.840780,19.380000,0.05,100.0,18.380000
97,916.520000,51.638000,190.800000,7.404271,198.000000,8.388525,91.690000,0.37,2170.0,78.510000
98,921.390000,46.670000,46.000000,1.700074,72.700000,2.214571,38.090000,0.00,0.0,35.180000
99,918.900000,77.558000,212.000000,1.185578,154.100000,1.834291,62.100000,0.00,0.0,56.930000

In [8]:
df_train.shape

(100, 10)

In [9]:
# The last column „relative_humidity_3pm“ is the target variable, the first 9 columns are input variables

target_var = df_train['relative_humidity_3pm']
input_var = df_train.drop(columns='relative_humidity_3pm')
input_var

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,relative_humidity_9am,rain_accumulation_9am,rain_duration_9am
0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,42.420000,0.00,0.0
1,917.347688,71.403843,101.935179,2.443009,140.471549,3.533324,24.328697,0.00,0.0
2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,8.900000,0.00,20.0
3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,12.189102,0.00,0.0
4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,92.410000,8.90,14730.0
...,...,...,...,...,...,...,...,...,...
95,921.874478,68.093848,70.908654,2.146586,96.095304,2.891295,12.479445,0.00,0.0
96,921.540000,43.160000,52.500000,23.554978,68.000000,29.840780,19.380000,0.05,100.0
97,916.520000,51.638000,190.800000,7.404271,198.000000,8.388525,91.690000,0.37,2170.0
98,921.390000,46.670000,46.000000,1.700074,72.700000,2.214571,38.090000,0.00,0.0
99,918.900000,77.558000,212.000000,1.185578,154.100000,1.834291,62.100000,0.00,0.0

In [10]:
target_test = df_test['relative_humidity_3pm']
input_test = df_test.drop(columns='relative_humidity_3pm')
input_test

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,relative_humidity_9am,rain_accumulation_9am,rain_duration_9am
0,916.230300,62.720803,46.651578,9.514092,66.394135,12.090172,28.272362,0.00,0.0
1,916.100000,69.512000,189.600000,7.471380,197.000000,8.567480,30.250000,0.00,0.0
2,917.700000,59.432000,90.200000,1.655336,120.800000,2.348787,23.570000,0.00,0.0
3,921.559754,70.945867,166.212920,3.975137,210.303123,6.396812,15.452631,0.00,0.0
4,919.850000,77.360000,235.200000,1.879030,222.800000,2.505373,43.760000,0.00,0.0
...,...,...,...,...,...,...,...,...,...
95,920.828414,69.815763,48.631643,12.816532,65.176698,16.256207,13.936041,0.00,0.0
96,913.770000,49.424000,175.800000,12.571603,185.300000,15.367778,83.060000,0.00,0.0
97,918.680000,64.868000,115.000000,1.275056,149.800000,1.789552,90.670000,0.00,0.0
98,922.170000,64.112000,68.800000,6.106846,93.000000,8.656958,9.710000,0.00,30.0
99,916.070000,77.666000,198.100000,2.326418,216.700000,3.064608,28.450000,0.39,900.0

In [11]:
# Fit a linear regression model to the training data using all input variables. 
# Report the R2-score of the training and test set

reg = LinearRegression()
reg.fit(input_var, target_var)

y_pred = reg.predict(input_test)
print(r2_score(target_test, y_pred))

y_pred = reg.predict(input_var)
print(r2_score(target_var, y_pred))

0.6926182046194309
0.7913271144231648

In [12]:
# Fit a linear regression model to the training data using the first 6 input variables. 
# Report the R2-score of the training and test set

reg = LinearRegression()
reg.fit(input_var.iloc[:, :6], target_var)

y_pred = reg.predict(input_test.iloc[:, :6])
print(r2_score(target_test, y_pred))

y_pred = reg.predict(input_var.iloc[:, :6])
print(r2_score(target_var, y_pred))

0.4720163596627397
0.6391278248764969

In [13]:
# Fit a linear regression model to the training data using the first 7 input variables. 
# Report the R2-score of the training and test set

reg = LinearRegression()
reg.fit(input_var.iloc[:, :7], target_var)

y_pred = reg.predict(input_test.iloc[:, :7])
print(r2_score(target_test, y_pred))

y_pred = reg.predict(input_var.iloc[:, :7])
print(r2_score(target_var, y_pred))

0.7294255319114435
0.7834897072982794

In [14]:
# Fit a linear regression model to the training data using only the 7th input variable „relative_humidity_9am“.
# Report the R2-score of the training and test set

reg = LinearRegression()
reg.fit(input_var[["relative_humidity_9am"]], target_var)


y_pred = reg.predict(input_test[["relative_humidity_9am"]])
print(r2_score(target_test, y_pred))

y_pred = reg.predict(input_var[["relative_humidity_9am"]])
print(r2_score(target_var, y_pred))

0.7479772044517505
0.7205504432516265

In [15]:
# Fit a ridge regression model to the training data using all input variables with alpha=10. 
# Report the R2-score of the training and test set

ridge = Ridge(alpha = 10)
ridge.fit(input_var, target_var)

ridge_pred = ridge.predict(input_test)

print(ridge.score(input_test, target_test))
print(ridge.score(input_var, target_var))

0.7217155552690013
0.7859826056814034

In [21]:
# Fit a ridge regression model to the training data using all input variables with alpha=100. 
# Report the R2-score of the training and test set 
# as well as the value of the constant and all coefficients of the model

ridge = Ridge(alpha = 100)
ridge.fit(input_var, target_var)

ridge_pred = ridge.predict(input_test)

print(ridge.score(input_test, target_test))
print(ridge.score(input_var, target_var))

print("{:.2f}".format(ridge.intercept_))
print([round(x,2) for x in ridge.coef_])

0.7402975339860975
0.7661884367393512
989.80
[-1.05, -0.23, 0.02, 0.99, 0.03, -0.65, 0.54, -0.78, 0.0]

In [17]:
# Fit a lasso regression model to the training data using all input variables with alpha=10. 
# Report the R2-score of the training and test set 
# as well as the value of the constant and all coefficients of the model

lasso = Lasso(alpha = 10)
lasso.fit(input_var, target_var)

lasso_pred = ridge.predict(input_test)

print(lasso.score(input_test, target_test))
print(lasso.score(input_var, target_var))

print("{:.2f}".format(lasso.intercept_))
print([round(x,2) for x in lasso.coef_])

0.74694688048163
0.7361773012054045
9.72
[-0.0, -0.06, 0.01, 0.0, 0.03, 0.0, 0.62, -0.0, 0.0]